[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
asynctest = "*"
black = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
psycopg2 = "*"
tox = "*"

[packages]
sqlalchemy = "*"
alembic = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
